

  <div class="container mt-5">
      
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
    <div class="card">
      <div class="-header text-white bg-info p-3">
        Modifier un produit
      </div>
      <div class="card-body">
        <form (submit)="updateProduct()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="">Nom du produit</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nom du produit"
                name="name" required
                [(ngModel)]="product.name"
                #productNameVar="ngModel"
                [ngClass]=" { 'is-invalid': productNameVar.touched && !productNameVar.valid }">
                <div class="invalid-feedback">
                  <span *ngIf="productNameVar.errors">
                      Entrez votre nom du produit
                  </span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="">Prix du produit</label>
              <input
                type="number"
                class="form-control"
                placeholder="Prix du produit"
                name="price" required
                [(ngModel)]="product.price"
                #productPriceVar="ngModel"
                [ngClass]=" { 'is-invalid': productPriceVar.touched && !productPriceVar.valid }">

                <div class="invalid-feedback">
                  <span *ngIf="productPriceVar.errors">
                      Entrez le prix du poduit
                  </span>
                </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="">Quantité du produit</label>
              <input
                type="number"
                class="form-control"
                placeholder="Quantité du produit"
                name="quantity" required
                [(ngModel)]="product.quantity"
                #productQuantityVar="ngModel"
                [ngClass]=" { 'is-invalid': productQuantityVar.touched && !productQuantityVar.valid }">

                <div class="invalid-feedback">
                  <span *ngIf="productQuantityVar.errors">
                      Entrez le Quantité du poduit
                  </span>
                </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="">Nom du fournisseur</label>
              <input
                type="text"
                class="form-control"
                placeholder="Nom du fournisseur"
                name="provider" required
                [(ngModel)]="product.provider"
                #productProviderVar="ngModel"
                [ngClass]=" { 'is-invalid': productProviderVar.touched && !productProviderVar.valid }">

                <div class="invalid-feedback">
                  <span *ngIf="productProviderVar.errors">
                      Entrez le Nom du fournisseur                  
                    </span>
                </div>
            </div>
          </div>
          <div class="text-right">
            <button class="btn btn-info" type="submit">
                Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>

  </div>
